* {
	font-family: Quicksand;
	font-size: 1.1em;
}

/*.container {
	margin: 50px;
}*/

.row > div {
	padding: 50px;
}

#rightbar {
	text-align: center;
}

ul.list-group li {
	font-size: 0.6em;
}

.nav-tabs {
	font-size: 0.8em;
}

.tab-pane p {
	font-size: 0.9em;
}

#me {
	width: 100%;
	border-radius: 10px;
}

a.emoji-link:hover > span.no-underline {
	text-decoration: none;
}