* {
	font-family: Quicksand;
	font-size: 1.1em;
}

#big-section > div {
	padding: 35px;
}

h2 {
	font-weight: bold;
}

h1.name {
	font-weight: normal;
	font-size: 3em;
}

#rightbar {
	text-align: center;
	position:fixed;
	right: 35px;
}

ul.list-group li {
	font-size: 0.75em;
}

#me {
	width: 100%;
	border-radius: 10px;
}

a.emoji-link:hover > span.no-underline {
	text-decoration: none;
}

.fancybox-inner {
	font-size: 1em;
	text-align: center;
}

.project {
	padding: 10px;
	text-align: center;
}